### non-DL models (aeon dependencies)
aeon
### DL models (time-series-library dependencies)
einops
local-attention
numpy
numba
pandas
patool
reformer-pytorch
scikit-learn
scipy
sktime
sympy
torch
tqdm
PyWavelets
timm
transformers
huggingface_hub
# mamba-ssm
# causal-conv1d
### visualization
matplotlib
seaborn
plotly
kaleido
umap-learn
### others
natsort